pandas
openai
langchain
tiktoken
rich
pandas-stubs
types-tqdm
peft
transformers
logzero
fastapi
uvicorn
gin-config
absl-py
datasets
names
together
pydantic==1.10.12
deepspeed
bitsandbytes
scipy

# for llama2
sentencepiece
protobuf